body{
    margin: 0 2em;
    font: 1em sans-serif;
}

p{
    line-height: 1.1em;
}

.nav-bar{
    margin-top: 1em;
}
.navv{
    display: flex;
}

.links ul{
    list-style: none;
    display: flex;
    margin-right: 2em;
    gap: 2em;
    
}

.links a{
    text-decoration: none;
    color: #000;
}
.rgt1{
    display: flex;
    margin-left: 19em;

}
.hrr{
    border: solid rgb(115, 179, 20);
    margin-top: 0em;
    width: 1.5em;
    border-radius: 2em;

}
.rgt{
    margin: 1em;
    margin-left:9em;
}

.btn{
    background-color: rgb(16, 148, 20);
    border: none;
    height: 2.3em;
    width: 6em;
    border-radius: 0.8em;
    color: #f8f6f6;
}
.white-btn{
    border: none;
    height: 2.5em;   
    border-radius: 0.8em; 
}

.logo{
    width: 7em;
    margin: 0.6em;
    margin-left: 4em;
}

.content{
    margin: 1em;
    margin-top: 3em;
}

.section1{
    margin-left: 5em;
    display: flex;
    justify-items: center;
}

.sub-section h1{
    font-size: 3em;

}

.cornrgt{
    margin-right: 2em;
}
.corn{
    margin-right: 2em;
}

.gapp{
    margin-left: 1.1em;

}

.section2{
    text-align: center;
}

.sub-section21{
    display: flex;
    margin: 0em 3em 2em 7em;
    gap: 6em;
    text-align: center;
    
}

.sub-section2 img{
    align-items: center;
    justify-content: center;
    margin-left: 11em;
    margin-right: 1em;
    width: 55em;    
}

.section3{
    margin-bottom: 2em;
}

.section4{
    margin: 2em;
    display: flex;
    margin-top: 5em;
}

.cover1{
    width: 18em;
   position: relative; 
}
.cover2{
    width: 15em;
    position: absolute;
    top: 64em;
    
} 


.group9 {
    height: 20em;
    width: 25em;
}


.section4-img{
    margin-left: 4em;
    margin-right: 2em;
}

.btn3{
    background-color: rgb(9, 94, 12);
    border-color:rgb(4, 181, 4);
    height: 2.5em;
    width: 8em;
    border-radius: 0.8em;
    color: #f8f6f6;
}
.section5{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2em 5em;
}

.sub-section5{
    margin-right: 1em;
}
.section51{
    margin-left: 6em;
}

.backk{
    background-color: rgb(214, 217, 217);
    height: 9em;
    width: 24em;
    border-radius: 2em;
    position: relative;
}

.egg{
    position: absolute;
    top: 90em;
    right: 10em;
}

.chick{
    position: absolute;
    top: 82em;
    right: 4em;
}
.btn4{
    color: #03ad23;
    border: solid #38bd50;
}
.btn5{
    color: #03ad23;
}
.section6{
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    margin-bottom: 3em;
}

.ellipse{
    margin-left: 2em;
    position: relative;
    top: 1em;
}

.rize{
    position: absolute;
    top: 99em;
    left: 3em;
}

.sub-section6{
    margin-left: 5em;
    margin-right: 4em;
}

.btn6{
    color: #03ad23;
    width: 8em;
    border: solid #38bd50;
}

.section7{
    margin: 2em;

}
.Rectangle7{
    width: 100%;
    height: 20em;
    position: relative;
}

.sub-section7{
    position: absolute;
    top: 124em;
    left: 8em;
    color: #ffffff;
    margin-right: 40em;
}

.section71{
    position: absolute;
    top: 115em;
    right: 8em;
}

.btn7{
    width: 7em;
    color: #ffffff;
}

.footer{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 4em 0em;

}