html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.links ul{
    list-style: none;
    display: flex;
    gap: 2em;
    
}
.links a{
    text-decoration: none;
    color: #000;
}
.btn{
    background-color: rgb(16, 148, 20);
    border: none;
    height: 2.3em;
    width: 6em;
    border-radius: 0.8em;
    color: #f8f6f6;
    margin-top: 0.5em;
}
.white-btn{
    border: none;
    height: 2.5em;   
    border-radius: 0.8em; 
}
.btn3{
    background-color: rgb(9, 94, 12);
    border-color:rgb(4, 181, 4);
    height: 2.5em;
    width: 8em;
    border-radius: 0.8em;
    color: #f8f6f6;
}

.btn4{
    color: #03ad23;
    border: solid #38bd50;
}
.btn5{
    color: #03ad23;
}

.btn6{
    color: #03ad23;
    width: 8em;
    border: solid #38bd50;
}
.btn7{
    width: 7em;
    color: #ffffff;
}

.rgt {
    margin-left:2rem;
}

header {
    display: flex;
}
.nav-bar {
    margin-top: 1rem;
    display: flex;
    margin-left: auto;
    font-size: 1.5rem;
}

.content {
    font-size: 1.9rem;
    max-width: 1200px;
    width: 100%;
}

.section1 {
    display: flex;
}

.section2 {
    text-align: center;
}
.three {
    justify-content: center;
    align-items: center;
}
.threeimg {
    width: 100%;
}
.sub-section21 {
    display: flex;
    gap: 6rem;
}
.section4 {
    display: flex;
    gap: 3rem;
}
.section5 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
.chick, .rize {
        width: 40rem;
        height: auto;
    }

.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section7 {
    display: flex;
    background-color: #10431a;
    border-radius: 40px;
    color: #ffffff;
}
.sub-section7 {
    margin-left: 3rem;

}


.footer{
    text-align: center;
    margin-top: 4rem;
    height: 15rem;
}
@media (max-width: 62.5rem) {
    html {
        font-size: 50%;
    }
}


@media (max-width: 31.5rem) {
    html {
        font-size: 37.5%;
    }
    body{
        text-align: center;
    }
    .section1 {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .corn,.threeimg {
        width: 100%;
    }
    .section4 {
        display: block;
        margin-bottom: 4rem;
    }
    .section5 {
        display: flex;
        text-align: left;
    }
    .btn4, .btn5 {
        padding: 1rem;
        height: 8rem;
        margin: 0.9rem;
    }
}
